include AUTHORS
include CHANGELOG
include LICENSE
include README

include MANIFEST.in
include .coveragerc
include requirements*.txt
include requirements_utils.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
